.carousal{
  display: flex;
justify-content: center;


  .slider{
    display: flex;
    justify-content: center;
    //width:80%;
    //height:80%;
    //position:absolute;
    left:10%;
    top:10%;
    overflow:hidden;
  }
  .prev{
    position:absolute;
    top:45%;
    left:2.5%;
    cursor:pointer;
  }
  .next{
    position:absolute;
    top:45%;
    right:2.5%;
    cursor:pointer;
  }
  .transition {
    transition:.5s linear;
  }
  .slide{

  }
  .slide p {
    font-size:4em;
    color:#fff;
    font-weight:900;
  }
  .carousal-item{
    .content-image{
      img{
        width: 100px;
        height:100px;
      }
    }
  }
}