.row{
  margin-top: 50px;
  margin-bottom: 50px;
  .carousal{
    display: flex;
    justify-content: center;
    .slider{
      display: flex;
      justify-content: center;
      overflow:hidden;
      position: relative;
      .previousState{
        position:absolute;
        top:50%;
        left:5%;
        background-color: transparent;
        border: none;
        color: aliceblue;
        font-size: 50px;
      }
      .next{
        position:absolute;
        top:50%;
        right:5%;
        background-color: transparent;
        border: none;
        color: aliceblue;
        font-size: 50px;
      }
      .slide{

        img{
          width: 90vw;
          height: 80vh;
        }
        .title-text{
          font-size: 35px;
          color: white;
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
        }
        .subTitle-text{
          font-size: 25px;
          color: white;
          position:absolute;
          top:60%;
          left:50%;
          transform:translate(-50%, -50%);
        }
      }
    }


    .transition {
      transition:.5s linear;
    }
  }

}
