$Roboto: 'Roboto', sans-serif;

$Mobile: "only screen and (max-width: 768px)";
$SmallLaptops : "only screen and (min-width: 769px) and (max-width: 1024px)";
$bigScreens : "only screen and (min-width: 1500px)";